.colors {
    width: 162px;
    height: 132px;
    border: 1px solid #c0c0c0;
    border-radius: 2px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .19), 0 6px 6px rgba(0, 0, 0, .23);
    background-color: #fffff0;
}

.select-color {
    display: inline-block;
    margin: 8px 0 0 8px;
    width: 30px;
    height: 30px;
    border: 1px solid white;
    border-radius: 50%;
    cursor: pointer;
}

.select-color:hover {
    border: 2px solid #c0c0c0;
}

.colors > .select-color:first-child {
    border: 2px solid #a9a9a9;
}

.colors > .select-color:first-child:hover {
    border: 2px solid #c0c0c0;
}
