node_modules/
packages/*/**/lib/
packages/ui/**/.npmignore
tags
.idea/
.vscode/
.tmp/**
*.log
.tern-port
.tern-project
assets/compiled/
server/compiled/
*.iml
npm-debug.log*
.DS_Store
*.json.gzip
stats.json
.happypack/
coverage/
webpackAssets.json
webpackAssets.es5.json
webpackAssets.es6.json
*.swp
*.swo
package-lock.json
